{% comment %}
Lee Kusowski
ClassroomVMApp
3-21-2026
{% endcomment %}


<div class="card-header">
    <h5 class="mt-2">
          {{ classroom.class_name }}
    </h5>
</div>
<div class="card-body">
  <p class="card-text">{{ classroom.instructor }} - {{ classroom.crn }}</p>
  <p class="card-text">{{ classroom.description }}</p>
  <a href="{% url "classroom_detail_exercise_list" classroom.pk classroom.crn %}" class="btn btn-primary">
    To Classroom
  </a>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 ms-4 d-flex align-content-center">
    {{ classroom.earned_points }} / {{ classroom.max_points }}
  </div>
    {{ classroom.score }}%
</footer>
