{% comment %}
Lee Kusowski
ClassroomVMApp
4-06-2026
{% endcomment %}


<div class="card-header d-flex flex-wrap justify-content-center py-3">
  <h5 class="card-text d-flex align-items-center mb-3 mb-md-0 me-md-auto">
    {{ exercise.exercise_name }}
  </h5>
  <h5>
    Due Date: {{ exercise.due_date }}
  </h5>
</div>

<div class="card-body">
  <h6>
    Objective:
  </h6>
  <p class="card-text">{{ exercise.description }}</p>
  <a href="{% url "exercise_detail_task_list_submission_create" exercise.pk %}" class="btn btn-primary">Go to Lab</a>
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 ms-4 d-flex align-content-center">
    {{ classroom.earned_points }} / {{ classroom.max_points }}
  </div>
    {{ classroom.score }}%
</footer>

<br>