{% comment %}
Lee Kusowski
Arachne; Front End for Virtual Classrooms
01-20-2025
{% endcomment %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    {% comment %} <a class="navbar-brand abs" href="{% url 'twit_list' %}">Tweeter</a> {% endcomment %}
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          {% comment %} {% url 'twit_list' as twit_list %} {% endcomment %}
          <a
            class="nav-link {% if request.get_full_path == twit_list %}active{% endif %}"
            href="{% url 'twit_list' %}"
          >
            Home
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          {% url 'profile' request.user.pk as profile %}
          <a
            class="nav-link {% if request.get_full_path == profile %}active{% endif %}"
            href="{% url 'profile' request.user.pk %}"
          >
            Profile
          </a>
        </li>
        <li class="nav-item">
          {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light me-2">Sign out</a>
            </form>
          {% else %}
            <a class="nav-link" href="{% url "login" %}">Sign in</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>