{% comment %}
Lee Kusowski
ClassroomVMApp
4-06-2026
{% endcomment %}

<div class="row align-items-start">
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 ms-0 p-0" style="width: 320px;">
    <ol class="ps-0" style="list-style-position: inside;">

    {% for task in object.tasks.all %}

      <button class="accordian-button" type="radio" data-bs-toggle="collapse" data-bs-target="#collapseTask{{ task.pk }}" style="width: 320px;" aria-expanded="false" aria-controls="collapseTaskBar">
        <div class="card-body ">
          <li style="text-align: left;">
            {{ task.task_name }}
          </li>
        </div>
      </button>
    
    {% endfor %}

    </ol>
  </div>

  <div class="d-flex flex-column p-0" style="width: 300px;">

  {% for task in object.tasks.all %}
    <div class="collapse collapse-horizontal" id="collapseTask{{ task.pk }}">

      <form>
        <div class="card card-body" style="width: 300px;">
            <p class="card-text">{{ task.description }}</p>
            <label for="task{{ task.pk }}Input" class="form-label">
              Flag:
            </label>
            <input type="task{{ task.pk }}" class="form-control" id="task{{ task.pk }}Input">
        </div>
      </form>

    </div>
  {% endfor %}

  </div>


</div>